<ion-header>

  <ion-navbar>
    <ion-title>Novo Usuário</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
  
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  
  </ion-list>

  <button ion-button round block (click)="newUser(user)">Cadastrar</button>
</ion-content>
