<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/logo.png" style="height: 12em;" />

    <ion-item class="card-title">
      <ion-label>R$ </ion-label>
      <ion-input type="text" placeholder="00,00" maxlength="7" (keyup)="formatOutgo($event)" (focus)="formatOutgo($event)" (blur)="formatOutgo($event)" [(ngModel)]="form.outgo"></ion-input>
    </ion-item>

    <ion-item class="card-title2">
      <ion-input type="text" placeholder="Nome da despesa" maxlength="60" [(ngModel)]="form.title"></ion-input>
    </ion-item>

    <button ion-button block (click)="registerOutgo(form.outgo)">
      <ion-icon name="checkmark" style="font-size: 3em;"></ion-icon>
    </button>

  </ion-card>

  <ion-list inset>
    <button ion-item *ngFor="let item of items | async">
      <p>{{ item.createdAt }}</p>
      <h3>{{ item.title }}</h3>
      <h2>R$ {{ item.outgo }}</h2>
    </button>
  </ion-list>

</ion-content>
