page-home {
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 10%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            background: rgba(0, 0, 0, 0.3);

            ion-label {
                color: #fff;
            }

            input::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .card-title2 {
            position: absolute;
            top: 40%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            background: rgba(0, 0, 0, 0.3);

            input::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        
    }
}
